
.header_img_container {
    width: fit-content;
    padding: 2rem;
    padding-bottom: 0.5rem;
    object-fit: contain;
    background-color: white;
}

.header_img {
    width: 100%;
}

.scrollable {
    position: absolute;
    z-index: 10;
    top: 3rem;
    padding-bottom: 1.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 275px;
    height: fit-content;
    left: 10px;
    overflow-y: scroll;

    /* background-color: var(--primary); */
    background-color: var(--secondary);
    scrollbar-width: none;
    scrollbar-color: gray var(--primary);
    border: solid 2px black;
    border-radius: 10px;

    transition: left 0.5s ease;
}

.close {
    left: -100%;
    transition: left 0.5s ease;
}

.scrollable_minimizer {
    margin-right: 1rem;
    width: 25px;
    height: 25px;
    color: black;
    cursor: pointer;

    &:hover {
        scale: 1.1;
    }

    transition: rotate 0.7s ease;
    z-index: 50;
}

.flipped {
    rotate: 180deg;
}

.event_container {
    height: 50px;
    width: 250px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    border: solid 2px var(--secondary);
    border-radius: 10px;

    transform: scale(1);
    cursor: pointer;
    h2 {
        margin: 0;
        width: 100%;
        font-size: 0.95rem;
    }
    &:hover {
        background-color: var(--primary-dark);
    }
}
.event_container.no_events {
    text-align: center;
    &:hover {
        border: solid 2px white !important;
    }
}
.event_container.create {
    h2 {
        padding: 0.5rem;
        text-align: center;
        font-size: 1.5rem !important;
    }
}

.live_container {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.live_indicator {
    width: 30%;
    height: 30%;
    border-radius: 100%;
    background-color: gray;

    animation: pulseColor 1s ease-in-out infinite alternate;
}

@keyframes pulseColor {
    0% {
        background-color: gray;
    }

    100% {
        background-color: red;
        box-shadow: 0px 3px 5px rgba(255, 0, 0, 0.25);
    }
}

.monitor {
    .status {
        margin: 0;
        margin-right: 1rem;
        font-size: medium;
    }
}
.status_refresh {
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
}
